 *, * ::before, * ::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif

  }

  body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vh;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
  }

  .container {
    width: 400px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;

  }

  .btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0px;

  }

  .btn {
    background: darkorchid;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
    /* display: none; */

  }

  .btn:hover {
    border-color: black;
  }
/*
header {
    padding: 40px;
    text-align: center;
    background: white;
    color: black;
    font-size: 20px;
    
}

button {
    background: purple;
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
    font-size: 1.5em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
    

  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
  }

  h3 {
    height: 240px;
    padding: 10px;
    color:black;
    
  }

  #question {
    padding: 40px;
    text-align: center;
    background: white;
    color: black;
    font-size: 20px;
    display: none;

  }


  .timer {
    height: 1px;
    padding: 10px;
    color:black;
    text-align: right;
    

  }

  

 

  } */

  

  